/* Container principal */
.sidebarContainer {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  overflow-y: auto;
  transition: width 0.3s ease;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.884);
  z-index: 1000;
}

/* Header do sidebar */
.header {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

/* Área para o título */
.headerLeft {
  flex: 1;
}

/* Área para o botão toggle */
.headerRight {
  /* Aqui o botão ficará sempre visível; podemos centralizá-lo verticalmente se for linha, ou permitir que fique abaixo se for coluna */
}


/* Botão toggle */
.toggleButton {
  background: transparent;
  border: none;
  color: inherit;
  font-size: 1.5rem;
  cursor: pointer;
}

/* Navegação */
.nav {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

/* Itens de navegação */
.navItem {
  background: transparent;
  border: none;
  text-align: left;
  padding: 10px 15px;
  font-size: 1rem;
  cursor: pointer;
  transition: background 0.2s;
}

.navItem:hover {
  background: rgba(26, 20, 20, 0.39);
}

.active {
  background: rgba(0, 0, 0, 0.2);
  font-weight: bold;
}

/* LeftSidebar.module.css */
.logo {
  max-width: 150px; /* ajuste conforme necessário */
  height: auto;
}

.logoCollapsed {
  max-width: 40px; /* para quando o menu estiver colapsado */
  height: auto;
}


/* Responsividade: telas menores */
@media (max-width: 768px) {
  .sidebarContainer {
    width: 70%;
    max-width: 300px;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 1100;
  }
}


